html {
  height: 100%;
  overflow-y: hidden;
}

body {
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
}

a {
  text-decoration: none !important;
}

.mono {
  font-family: monospace;
  font-size: 14px;
  line-height: 20px;
}

/* override bootstrap */
.row-fluid [class*="span"] {
  min-height: 1px;
}

.main {
  overflow-x: hidden;
}

/* in order to make the left panel scroll, all enclosing divs must be 100% height */
.noscroll {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

/* ----- navbar ----- */

.navbar-image {
  position: absolute;
  top: 0.25em;
  height: 1.3em;
  left: 1em;
}

.brand {
  margin-left: 1.1em !important;
}

.navbar-spacer {
  height: 0px;
}

/* ----- left panel ----- */

#left_panel {
  overflow-x: hidden;
  padding-right: 1em;
}

.pane {
  height: 100%;
  position: relative;
}

/* ----- editor ----- */

.pane-editor {
  position: relative; /* so highlight line will work */  
  overflow-y: scroll;
}

.linenums {
  padding-left: 0px;
  padding-top: 5px;
  display: block;
  text-align: right;
  color: gray;
  width: 4em !important;
}
.linenums .breakpoint {
  background-color: #adf;
  border: 1px solid #3ab;
  border-radius: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 4px;
}
.linenum {
  margin-left: 1.0em !important;
  display: block;
  line-height: 18px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 5px;
}

.code-addr {
  margin-left: 0px !important;
}

.code-dump {
  margin-left: 1.0em !important;
  padding-top: 6px;
  white-space: nowrap;
  text-align: left;
  overflow-x: hidden;
}

.code-highlight-line {
  position: absolute;
  left: 0;
  top: 6px;
  width: 100%;
  height: 20px;
  z-index: -1000;
}

.code-pc-line {
  background-color: #afa;
}

.code-box {
  margin-left: 0.5em !important;
}

.code-textarea {
  color: black;
  width: 100%;
  min-height: 20em;
  background-color: transparent;
}

/* ----- memory view ----- */

#memory-scroller {
  overflow: scroll;
}

#memory-view {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

#memory-addr {
  position: relative;
  top: 0px;
  float: left;

  margin-top: 3px;
  padding: 2px;
  padding-right: 0.7em;

  text-align: right;
  color: white;
}

#memory-addr-background {
  position: absolute;
  top: 0px;
  left: 0px;

  margin-top: 3px;
  background-color: #444;
  border-radius: 0.7em 0px 0px 0.7em;
  z-index: -1000;
}

#memory-dump {
  position: relative;
  overflow-x: hidden;
  top: 0px;
  left: 0px;

  margin-top: 3px;
  margin-left: 0px;

  padding: 2px;
  padding-left: 0.4em;
}

#memory-dump-background {
  position: absolute;
  top: 0px;
  left: 0px;

  margin-top: 3px;
  margin-left: 0px;
  background-color: #eee;
  border-radius: 0px 0.7em 0.7em 0px;
  z-index: -1000;
}

.memory-cell {
  padding: 2px;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.memory-dump-spacer {
  padding-left: 0.75em;
}

/* ----- right panel ----- */

#right_panel {
  position: relative;
  float: right;
  /* exactly 10px bigger than the screen on each side */
  width: 404px;
}

.screen_frame {
  /* exactly 10px bigger than the screen on each side */
  width: 404px;
  height: 308px;
}

#screen {
  background-color: black;
  padding: 10px;
}

#loading_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 10px;
}

#static_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 10px;
  display: none;  
}

.notice {
  marginx: 6px 0px 10px 0px;
  color: gray;
  font-size: 10pt;
}

.buttons {
  margin-top: 1em;
}

.buttons button {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  text-align: left;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
}

/*
 * hackity hack hack!
 * place the file input below the button, and hide it (opacity zero).
 * this is because chrome has really ugly bugs rendering a file input. :(
 */
#load_hack {
  position: relative;
}
#load_input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0;
}
#load_button {
  position: relative;
  z-index: 1;
}

.registers {
  margin-top: 1em;
}
.registers table {
  margin-top: 0.5em;
}
.registers td {
  margin: 0px;
  padding: 2px;
}
.registers td.reg_name {
  padding-right: 5px;
  padding-left: 25px;
  font-weight: bold;
  color: gray;
  text-align: right;
}
.r_sp {
  background-color: #aaaaff;
  text-decoration: none;
}
.r_pc {
  background-color: #aaffaa;
  text-decoration: none;
}
.r_ia {
  background-color: #ffaaaa;
  text-decoration: none;
}
.memory_read {
  color: #00d;
  text-decoration: none;
}
.memory_write {
  color: #e00;
  text-decoration: none;
}
.registers td.cycles {
  color: gray;
  text-align: right;
}
#cpu_heat {
  width: 1em;
  height: 100%;
  margin-left: 1em;
  border: solid 1px #ccc;
}

#disassemble {
  padding: 5px 10px;
  margin-top: 1em;
}

#log_frame {
  position: relative;
}
#log {
  position: fixed;
  left: 0px;
  bottom: 0px;
  font-family: monospace;
  font-size: 14px;
  padding: 1em;
  min-height: 4em;
  border-top: solid 1px gray;
  background-color: white;
}
#log .line {
  color: gray;
}
#log .fatal {
  font-weight: bold;
  color: #900;
}
